<div class="panel panel-default">
    <!-- Iterating over movieData.categories instead of categories directly -->
    <div *ngFor="let category of movieData.categories"> <!-- Panel Start -->
        <div class="panel-heading"><h3>{{ category.name }}</h3></div>
        <div class="carousel" data-flickity='{ "wrapAround": true }' #carousel>
            <!-- Ensure movieItem component is prepared to receive movie object and emit an event on selection -->
            <mv-movie-item *ngFor="let movie of category.movies" [movie]="movie" (click)="onMovieSelect(movie.id)"></mv-movie-item>
        </div>
    </div> <!-- Panel End -->
</div>
