<div class="desc-card">
    <div class="desc-top-row display-flex-center">
        <span class="image-box"><img src="{{ movie.imageUrl }}" alt=""></span>
        <span class="desc-title"> {{ movie.title }}</span>
    </div>
    <div class="desc-middle-row">
        <div class="row-desc">
            <span><b>Director(s): </b></span>
            <span>
                <ng-container *ngFor="let director of movie.directors; let last = last">
                    <span> {{ director }}</span>
                    <span *ngIf="!last">, </span>
                </ng-container>
            </span>
        </div>
        <div class="row-desc">
            <span><b>Writer(s): </b></span>
            <span>
                <ng-container *ngFor="let writer of movie.writers; let last = last">
                    <span> {{ writer }}</span>
                    <span *ngIf="!last">, </span>
                </ng-container>
            </span>
        </div>
        <div class="row-desc">
            <span><b>Actor(s):</b></span>
            <span>
                <ng-container *ngFor="let actor of movie.actors; let last = last">
                    <span> {{ actor }}</span>
                    <span *ngIf="!last">, </span>
                </ng-container>
            </span>
        </div>
        <div class="row-desc">
            <span>
                <ng-container *ngFor="let tag of movie.tags; let last = last">
                    <span class="tag-design"> {{ tag }}</span>
                    <span *ngIf="!last"></span>
                </ng-container>
            </span>
        </div>
    </div>

    <div class="display-flex-center">
        <span class="buttons">
            <a href="{{ movie.videoUrl }}" target="_blank" class="btn watch-trailer">
                <span><i class="fas fa-play"></i> Watch Trailer</span>
            </a>
            <button class="btn watch-list">
                <span><i class="fas fa-plus"></i> Add to Watchlist</span>
            </button>
        </span>
    </div>
</div>